.marginset { margin-left:150px; }

.op1 {position:fixed;left:10px;top:10px;}
.op2 {position:fixed;left:10px;top:50%;}
.op3 {position:fixed;left:10px;bottom:10px;}
.op4 {position:fixed;right:50%;top:10px;}
.op5 {position:fixed;right:50%;bottom:10px;}
.op6 {position:fixed;right:10px;top:10px;}
.op7 {position:fixed;right:10px;top:50%;}
.op8 {position:fixed;right:10px;bottom:10px;}
.op9 img {display:none;}

